body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #1c3d89;
    color: #193a71;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    text-align: left;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

nav {
    background: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px 0;
    background: #fff;
    margin: 20px 0;
}

section h2 {
    margin-bottom: 20px;
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}